.max{
    max-width: 95vw;
}
html{
    width:100vw;
    height: 100vh;
    background-color:rgb(205,207,192)
}
body{
    background-color:rgb(205,207,192)
}
.fullBackground{
    background-color:rgb(205,207,192);
        text-align: center;
        width: 100vw;
        height: 100vh;
        
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        justify-content: flex-end;
        align-items: center;
      
}
.max-width{
    max-width: 99vw;
    margin: 0 auto;
}
.fullBackground2{
    
    text-align: center;
    width: 100vw;
    height: 100vh;
    background-image: url('../../public/oespaco.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  
}
.max-width{
    max-width: 99vw;
    margin: 0 auto;
}
.fullBackground3{
    
    text-align: center;
    width: 100vw;
    height: 100vh;
    background-image: url('../../public/pratosda.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  
}
.max-width{
    max-width: 99vw;
    margin: 0 auto;
}
.fullBackground4{
    
    text-align: center;
    width: 100vw;
    height: 100vh;
    background-image: url('../../public/FAQ.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  
}
.max-width{
    max-width: 99vw;
    margin: 0 auto;
}
.fullBackground5{
    
    text-align: center;
    width: 100vw;
    height: 100vh;
    background-image: url('../../public/SOBRE.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  
}